#presentation,#services,#about,#contact{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0;
    padding: 10%;
}
#presentation #contenu{
    display: flex;
    flex-direction: row;
}
#presentation #contenu p{
    width: 60%;
}
#presentation #contenu img{
    width: 40%;
    margin: 0;
    padding: 0;
    height: 45vh;
    flex-direction: column;
    justify-content: center;
    background-position:center;
    background: #222b;
}
#services #liste-services{
    width: 80%;
    margin: 0;
    padding: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#services #liste-services .service-box{
    width: 24%;
    margin: 0.25%;
    display: flex;
    flex-direction: column;
}
#services #liste-services .service-box .illu-service{
    height: 35vh;
}
#contact #content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width:997px){
 
    #presentation #contenu{
        display: flex;
        flex-direction: column;
    }   
    #presentation #contenu p,#presentation #contenu img{
        width:90%;
        margin: 5%;
    }   
    #services #liste-services{
        width: 80%;
        margin: 0;
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #services #liste-services .service-box{
        width: 99%;
        margin: 0.25%;
        display: flex;
        flex-direction: column;
    }
}