#presentation{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0;
    padding: 10%;
}
#presentation #contenu{
    display: flex;
    flex-direction: row;
}
#presentation #contenu p{
    width: 60%;
}
#presentation #contenu img{
    width: 40%;
    margin: 0;
    padding: 0;
    height: 45vh;
    flex-direction: column;
    justify-content: center;
    background-position:center;
    background: #222b;
}
#services{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0;
    padding: 10%;
}
#services #liste-services{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#services #liste-services .service-box{
    display: flex;
    flex-direction: column;
}
#services #liste-services .service-box .illu-service{
    height: 35vh;
}
@media screen and (max-width:997px){
 
    #presentation #contenu{
        display: flex;
        flex-direction: column;
    }   
    #presentation #contenu p,#presentation #contenu img{
        width:90%;
        margin: 5%;
    }   
}