
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
h1,h2,h3,h4,h5,h6{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: #fff;
    background: #222;
    padding: 5%;
}
input,select{
    display: flex;
    background: #ddd;
    padding: .85em;
    border-radius: .85em;
}
button{
    padding: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
    background: #2225;
    border-radius: 0.5em;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background: #55fb;
}
body{
    font-family: 'Anton', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: url('/shop.jpg');
    background: url('/darkey.jpg');
    background: url('/ashop.jpg');
    /* background: url('/diamsey.jpg'); */
    /* background: #fff; */
    background-attachment: fixed;
    background-size: 100vw 100vh;
}
header{
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logobox h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logobox{
    display: flex;
    height: 115px;
    width: 115px;
    margin: 0;
    padding: 0;
}
.logo{
    margin: 10%;
    padding: 0;
    display: flex;
    border-radius: 5em;
}
.navbox{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    justify-content: space-between;
    background: #111;
}
nav{
    width: 45%;
    height: 115px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header nav a{
    color: #99be;
}
nav span{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.elem-nav{
    text-align: center;
    display: flex;
    padding: 2%;
    margin: 2%;
}
.zone{
    /* background: #2585; */
    /* background: url('/gold.jpg'); */
    padding: 5%;
    padding-left: 18%;
    padding-right: 18%;
    /* background: #bf953fdd; */
    display: flex;
    flex-direction: column;
    background: #fff5;
}
.liste-produits{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.liste-produits .produit{
    display: flex;
    flex-direction: column;
    width: 23%;
    margin: 0.5%;
}
/* .liste-produits .produit:nth-child(even){
    background: #111b;
}
#last-produits .liste-produits .produit:nth-child(even){
    background: #111b;
} */
.produit .illu-produit{
    max-height: 25vh;
}
.liste-produits .produit > *{
    padding: 5%;
}
#last-produits .liste-produits .produit{
    display: flex;
    flex-direction: column;
    width: 31.3%;
    /* background: #111d; */
}
#last-produits .produit .illu-produit{
    min-height: 35vh;
}
.produit .prix-produit{
    font-size: 2em;
    background: #999;
    color: white;
    overflow: hidden;
    transform: translateY(-55%) rotateZ(7.5deg);
}
.vers-categorie{
    display: flex;
    justify-content: center;
}
.hook{
    display: flex;
    flex-direction:column;
    height: 70vh;
}
.hook img{
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
}

.liste-categories{
    display: flex;
    flex-wrap: wrap;
}
.liste-categories .categorie{
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 0;
    margin: 0.5%;
    border:2px solid #fffd;
    background: #77e9;
}
.liste-categories .categorie h3{
    background: #222f;
    padding: 2%;
    margin: 0;
    color:#fffe;
}
.categorie p{
    padding: 5%;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
footer ul,footer li{
    margin: 0;
    display: flex;
    flex-direction: column;
}
footer #fliens{
    width: 16%;
    padding: 2%;
}
footer h2{
    justify-content: flex-start;
    text-align: left;
    color: #fff;
}
footer{
    z-index: 2;
    /* background: url('/diamsey.jpg'); */
    background-size: 100% 100%;
    font-size: 1em;
}
footer #fliens a,footer{
    color:#333f;
}
footer #fabout{
    background: #fffb;
    width: 46%;
    padding: 2%;
}
footer #fcontacts{
    background: #fff7;
    width: 26%;
    padding: 2%;
}
footer li{
    padding: 0;
}
footer #infos{
    background: #fff7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer #copyrights{
    flex-direction: column;
}
footer #copyrights,footer #copyrights *{
    display: flex;
    justify-content: center;
}
footer .navbox{
    margin: 0;
    justify-content: space-around;
    background: #222;
} 
footer .navbox h2{
    color: #fff;
}
footer .navbox a{
    color: #fff;
}
#mainhook .logobox{
    width:100%;
    justify-content:center;
    padding-top:2.5%;
    padding-bottom:2.5%;
}
#mainhook .logo{
    width:155px;
    height:155px;
}
#mainhook{
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background:white;
    background:url('sky.jpg');
    background-size:100% 100%;
    height:60vh;
    padding:5%;
}
#mainhook * {
    background:#2227;
    height:100%;
    margin-top:0;
    margin-bottom:0;
}
#mainhook h1,#mainhook h2,#mainhook h3,#mainhook h4,#mainhook h5{
    padding:1.5%;
}
#mainhook h4{
    background:#111e;
}
@media screen and (max-width:997px) {

    #mainhook{
        display:flex;
        flex-direction:column;
        justify-content:center;
        background:none;
        height:70vh;
    }
    #mainhook .logobox{
        margin-bottom:15%;
        width:100%;
        justify-content:center;
    }
}
@media screen and (max-width:997px){



    .logobox h2{
        display: none;
    }
    .logobox{
        display: flex;
        height: 75px;
        width: 75px;
        margin: 0;
        padding: 0;
    }
    .logo{
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 5em;
    }
    .navbox{
        z-index: 1;
        position: sticky;
        top: 0;
        margin: 0;
        width: 100%;
        display: flex;
        padding: 0;
        justify-content: space-around;
    }
    nav{
        width: 65%;
        height: 75px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .elem-nav{
        text-align: center;
        display: flex;
        padding: 2%;
        margin: 0;
    }
    .zone{
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        margin: 2.5%;
        padding: 2.5%;
    }

    .liste-produits{
        margin: 0;
        padding: 0;
    }

    #last-produits .produit .illu-produit{
        min-height: 20vh;
    }

    .liste-categories .categorie{
        display: flex;
        flex-direction: column;
        width: 87.5%;
        margin: 0.5%;
        border:2px solid #fffd;
        background: #b2e7;
    }
    .produit .prix-produit{
        font-size: 1.5em;
        background: #ff450099;
        color: white;
        overflow: hidden;
        transform: translateY(-5%) rotateZ(9.5deg);
    }

    footer #infos{
        display: flex;
        flex-direction: column;
    }
    footer .navbox{
        margin-top: 5%;
    }
    footer .navbox a{
        color: white;
    }
    footer #infos > * {
        display: flex;
        width: 94%;
    }
}