.long-ad{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}
.long-ad img{
    display: flex;
    width: 100%;
}
#main h1,#main h2,#main h3,#main h4,#main h5{
    color: white;
    padding: 7%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: url('./back.jpeg');
}
header{
    position: sticky;
    top: 0;
    margin: 0;
    background: #220033dd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header nav a{
    margin: 2%;
    min-width: 15%;
}
header a,header #searchbar{
 
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    
}
header #searchbar{
    flex-direction: row;
}
header #searchbar *{
    padding: 1%;
    margin-top: 11%;
    margin-bottom: 11%;
}
#main{
    padding-left: 10%;
    padding-right: 10%;
    background: #220033dd;
}
#article-une h2{
    padding: 2.5%;
}
#article-une .illu-article-une{
    display: flex;
    width: 98%;
    height: 45vh;
    background: #111b;
}
#trois-derniers-une{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#trois-derniers-une .article-une{
    width: 38%;
}
#trois-derniers-une .article-une .illu-article-une{
    display: flex;
    width: 98%;
    height: 35vh;
    background: #111b;
}
#bloc-feed-une{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#bloc-feed-une #feed-une{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    width: 78%;
}
#bloc-feed-une #feed-une .article-une{
    width: 22%;
} 
#bloc-feed-une #feed-une .article-une .illu-article-une{
    display: flex;
    width: 98%;
    height: 35vh;
    background: #111b;
}
