#catsnav{
    display: flex;
    flex-direction: row;
    position: sticky;
    z-index: 1;
    margin: 0;
    padding: 1.25%;
    top: 0;
    background: #222f;
    justify-content: center;
}
#catsnav li{
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
}
#catsnav a{
    color: #fff;
}